:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #D14900;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --text: #333;
    --breakpoint-xs: 0;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;
    --font-family-sans-serif: "Helvetica","Arial",sans-serif;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

h1 {
    font-family: var(--font-family-sans-serif);
    text-align: center;
    font-weight: bold;
    line-height: 110%;
    font-size: 30pt;
    color: var(--text);
}

a.header {
    font-family: var(--font-family-sans-serif);
    font-style: normal;
    font-size: 22pt;
    padding-left: 20pt;
    padding-right: 20pt;
    text-decoration:  none;
    color: var(--text);
}

a.link {
    font-family: var(--font-family-sans-serif);
    font-style: normal;
    font-size: 12pt;
    text-decoration:  none;
    color: var(--primary);
}

img {
	border: 2px solid var(--text);
}

h2 {
    font-family: var(--font-family-sans-serif);
    font-style: normal;
    font-size: 18pt;
    color: var(--text);
}

h4 {
    font-family: var(--font-family-sans-serif);
    font-style: normal;
    font-size: 10pt;
    color: var(--text);
    font-weight: bold;
    text-transform: uppercase;
    margin-block-end: 0px;
}

ul {
    margin-block-start: 0px;
}

.page_link {
    font-family: var(--font-family-sans-serif);
    text-decoration: underline;
    padding: 0px;
    font-size: 12pt;
    color: var(--text);
}

body {
    font-family: var(--font-family-sans-serif);
    font-weight: 400;
    text-align: left;
}

a:hover, a:active {}

.navbar {
    display: inline;
    text-align: right;
    margin-bottom: 50pt;
}

.obfuscate{ cursor:default; }
.obfuscate .ob-dud{ display:none; }
.obfuscate .ob-ta::after{ content:"@"; }
.obfuscate .ob-tod::after{ content:"."; }

#header {
    width: auto;
    margin: auto;
    overflow: hidden;
}

#name {
    font-family: var(--font-family-sans-serif);
    text-align: left;
    font-weight: bold;
    font-size: 30pt;
    color: var(--text);
}

#content{
    width: 600px;
    line-height:160%;
    margin-left: auto;
    margin-right: auto;
}

#page{
    margin-top: 10px;
    width: auto;
    padding: 10px;
}

#proofreading-link {
        /*font-family: "ÃÂÂÃÂÂÃâºâÃÂâ", "Microsoft Yahei","åèéé", "STXihei", "åŽæçé";
	 */
}

#content-reduced-width {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}

#list-container {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    min-width:210px;
    float:left;
    line-height:140%;
    background-color:#FFFFFF;
    border: 0px solid #E5E5E5;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
}

#intro {
    width: 500px;
    padding: 15px;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 750px)
{
h1	{ font-size:32px; }
h2	{ margin:24px 0px 10px; font-size:18px; }
p	{ text-align:left; }
table.info	{ overflow-y:scroll; }
table.info td	{ padding-right:10px; }
table.sub	{ margin-left:20px; }
a.header { padding-left: 5pt; padding-right: 5pt; }
}
